
  <div class="container my-3 pt-3 text-center">
    <div>
      <h3>Bookings for "<%= @book.title %>"</h1>
      <div class="py-1">
        <ol>
          <% @book.bookings.each do |booking| %>
            <li>The start date is: <%= booking.start_date %>, and the end date is: <%= booking.end_date %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
