<div class="card">
<h1>Bookings of <%= @book.title %></h1>
  <ol>
    <% @book.bookings.each do |booking| %>
      <li>The start date is:<%= booking.start_date %>, and the end date is:<%= booking.end_date %></li>

    <% end %>
  </ol>
</div>
