<div class="bs-cover">
<div class="container p-3 rounded">
  <h2>Your booking for</h2>
  <h1><em>"<%= @booking.book.title %>"</em></h1>
  <h2>has been confirmed from:</h2>
  <h3 class="bs-h3"><%= @booking.start_date %> to <%= @booking.end_date %></h3>
  <%= link_to "Look for another book", books_path, class: "btn-book-index" %>
</div>
</div>
