.bi-banner {
  background-image: url(https://images.pexels.com/photos/1340588/pexels-photo-1340588.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 350px;
  opacity: .95;
  align-items: center;
}

.bi-h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-bi {
  background-color:transparent;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-card {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 60px;
  background: white;
  border: 1px solid rgb(235,235,235);
  opacity: .89;
}

.bi-card:hover {
  background: rgb(151, 151, 151);
  opacity: 1;
  border: 1px solid rgb(151, 151, 151);
}

ol.bi-ol {
  padding: 0px;
}
