.bi-banner {
  background-image: url(bookcover1.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  opacity: 2;
  height: 100px;
}

.bi-h1 {
  color: white;
}

.container {
  background-color: #F6F5F5;
}
