.bi-banner {
  background-image: url(bookcover1.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px;
  opacity: .95;
  align-items: center;
}

.bi-h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-bi {
  background-color:transparent;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-card {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  background: white;
  padding: 8px 170px;
  border: 1px solid rgb(235,235,235);
  opacity: .89;
}

.bi.ol{
  margin-left: 1.2em;
}
