.background_sessions {
    background-image: url("https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.background_register {
    background-image: url("https://images.pexels.com/photos/101710/pexels-photo-101710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.background_forgot {
    background-image: url("https://images.pexels.com/photos/99562/texture-handwriting-sutterlin-vintage-99562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.image_size {
    height: 95vh;
    width: auto;
    padding-top: 10px;
}