<div class="text-center">
  <%= link_to "Create a new book", new_book_path, class: "btn", style: "color: white; background-color: #456268; border-radius: 50px;" %>
<div class="row p-5">
  <% @books.each do |book| %>
  <div class="card-product col-5 m-3">
    <img src="https://source.unsplash.com/random" />
    <div class="card-product-infos">
      <h2><%= book.title %></h2>
      <p><%= book.edition %><sup>th</sup> Edition</p>
      <p class="card-subtitle mb-2"><i>Written by:</i> <br><%= book.author %></p>
    </div>
</div>
  <% end %>
</div>
